<!DOCTYPE html>
<html lang="id">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Expense Splitter - Buat Room Baru</title>
    <link href="/styles/shared-styles.css" rel="stylesheet" />
    <script src="/js/create_room.js" defer></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  </head>
  <body>
    <div class="container">
      <h1>Buat Room Baru</h1>
      <div id="errorMessage" style="color: red; display: none"></div>
      <form id="createRoomForm">
        <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
        <div>
          <label for="name">Nama Room:</label>
          <input type="text" id="name" name="name" required />
        </div>
        <div>
          <label for="createdBy">Admin:</label>
          <input type="text" id="createdBy" name="createdBy" required />
        </div>
        <div>
          <label for="participants">Partisipan (pisahkan dengan koma):</label>
          <input type="text" id="participants" name="participants" required />
          <small>Contoh: John, Jane, Bob</small>
        </div>
        <button type="submit" class="btn btn-create-room" style="width: 100%">
          Buat Room
        </button>
      </form>
      <a href="/list-rooms/<%= userId %>" class="btn btn-back"
        >Kembali ke Daftar Room</a
      >
    </div>
  </body>
</html>
