:root {
    --primary-color: #3498db;
    --secondary-color: #2ecc71;
    --accent-color: #e74c3c;
    --background-color: #ecf0f1;
    --text-color: #34495e;
  }

body {
    background-color: var(--background-color);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.6;
    color: #333;
    color: var(--text-color);
    margin: 0;
    padding: 20px;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    background-color: #fff;
    padding: 30px;
    overflow: hidden;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    background-color: var(--primary-color);
    color: #fff;
    padding: 20px;
    border-radius: 8px 8px 0 0;
    margin: -30px -30px 30px -30px;
    gap: 12px;
}
.header h1 {
    margin: 0;
    border-bottom: none;
    text-align: left;
  }

.header-buttons {
    display: flex;
    align-items: center;
}

.room-list {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 20px 0;
}

.room-item {
    background-color: #f0f0f0;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: background-color 0.3s ease;
    padding-right: 10px;
}

.room-item:hover {
    background-color: #e0e0e0;
}

.room-link {
    flex-grow: 1;
    padding: 20px;
    color: inherit;
    text-decoration: none;
}

.room-name {
    font-size: 1.2em;
}

.search-container {
    position: relative;
    width: 100%;
  }

#searchInput {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.search-icon {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-100%);
    color: #888;
    pointer-events: none; /* Allows clicks to pass through to the input */
  }
  

h1, h2, h3 {
    color: #5d4037;
}

h1 {
    font-size: 2.5em;
    border-bottom: 2px solid #d7ccc8;
}

a {
    color: #795548;
    text-decoration: none;
    transition: color 0.3s ease;
}

a:hover {
    color: #3e2723;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #5d4037;
}

input[type="text"],
input[type="password"],
input[type="number"],
select {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #d7ccc8;
    border-radius: 4px;
    box-sizing: border-box;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 0px;
    border-spacing: 0 10px;
    transition: height 0.3s ease;
}

tr:not(.hidden):last-child {
    margin-bottom: 0;
  }

  #normal-table-container,
#simple-table-container {
  margin-bottom: 0;
  padding-bottom: 0;
}

th, td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #d7ccc8;
}

th {
    background-color: var(--primary-color);
        color: #fff;
        padding: 12px;
        text-align: left;
}

td {
    background-color: #fff;
    padding: 12px;
  }

  tr {
    transition: all 0.3s ease;
  }
  tr.hidden {
    display: none;
  }

  tr:hover {
    transform: translateY(-2px);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }

.summary {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

.summary-item {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
    flex: 1;
    min-width: 200px;
    margin: 0 10px;
    transition: all 0.3s ease;
}

.summary-item:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
  }

.summary-item h3 {
    margin-bottom: 10px;
    color: var(--primary-color);
}

.summary-item p {
    font-size: 1.5em;
    font-weight: bold;
  }

  .expense-list {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-bottom: 30px;
  }

  .expense-list h2 {
    color: var(--primary-color);
    margin-bottom: 20px;
  }

.settlement {
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    border-radius: 8px;
    margin-bottom: 30px;
}

.settlement h2 {
    color: var(--primary-color);
    margin-bottom: 20px;
  }


  .filter-section label {
    margin-right: 10px;
  }

  .filter-section select {
    padding: 8px;
    border-radius: 4px;
    border: 1px solid #ddd;
    margin-bottom: 0px;
  }

.hidden {
    display: none;
}


 .collapsible-container {
        overflow: hidden;
        transition: height 0.5s ease, opacity 0.5s ease, margin-bottom 0.5s ease;
        /* transition: all 0.3s ease; */
      }


      .collapsible-container.hide {
        height: 0 !important;
        opacity: 0;
        margin-bottom: 0;
      }
      .collapsible-container.empty {
        display: none;
      }

      .settlement > div.hidden {
        display: none;
      }

      .collapsible-container.show {
        opacity: 1;
      }

      .chevron-icon {
        transition: transform 0.5s ease;
      }

      .settlement {
        transition: gap 0.5s ease;
      }

      .collapsible-header {
        display: flex;
        align-items: center;
        cursor: pointer;
      }

      .collapsible-header h3 {
        margin-left: 10px;
      }

.btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 10px 15px;
    margin-right: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
    text-align: center;
    text-decoration: none;
    height: 40px; 
    box-sizing: border-box;
    transition: all 0.3s ease;
}

.btn:hover {
    transform: translateY(-2px);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }

.btn-create-room {
    background-color: #4CAF50;
    color: white;
}

.btn-logout {
    background-color: #f44336;
    color: white;
}

.btn-add-expense {
    background-color: var(--secondary-color);
    color: white;
}

.btn-back {
    background-color: var(--text-color);
    color: white;
}

.btn-edit {
    background-color: #8D6E63;
    color: white;
}

.btn-edit:hover {
    background-color: #795548;
}

.btn-delete {
    background-color: #D32F2F;
    color: white;
}

.btn-delete:hover {
    background-color: #B71C1C;
}

.icon-mobile {
    display: none !important;
}

/* Responsive styles */
@media screen and (max-width: 768px) {
    body {
        padding: 0;
        margin: 0;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .header{
        background-color: var(--primary-color);
        color: #fff;
        padding: 20px;
        border-radius: 8px 8px 0 0;
        margin: 0px 0px 20px !important;
    }
    
    .btn-back {
        margin-top: 0px;
    }
    
    .container {
        width: 100%;
        height: 100%;
        max-width: none;
        margin: 0;
        padding: 15px;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .login-form,
    .register-form,
    .create-room-form,
    .create-expense-form,
    .edit-expense-form {
        width: 100%;
        max-width: none;
    }

    label {
        font-size: 1.1em;
    }

    .room-name {
        font-size: 1em;
    }

    input[type="text"],
    input[type="password"],
    input[type="number"],
    select {
        font-size: 16px;
        padding: 15px;
    }

    h1 {
        font-size: 2em;
    }

    .btn {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        font-size: 1.2em;
        padding: 8px;
    }

    /* Table responsiveness */
    table, thead, tbody, th, td, tr {
        display: block;
    }

    thead tr {
        position: absolute;
        top: -9999px;
        left: -9999px;
    }

    tr {
        margin-bottom: 15px;
        border: 1px solid #ccc;
        border-radius: 8px;
        overflow: hidden;
    }

    td {
        border: none;
        position: relative;
        padding-left: 50%;
        text-align: right;
    }

    td:before {
        position: absolute;
        top: 6px;
        left: 6px;
        width: 45%;
        padding-right: 10px;
        white-space: nowrap;
        content: attr(data-label);
        font-weight: bold;
        text-align: left;
    }

    .summary {
        flex-direction: column;
      }

    .summary-item {
        flex-basis: 100%;
        margin-right: 0;
        margin: 0 0 15px 0;
    }

    .header h1 {
        font-size: 1.5em;
        margin: 0;
    }

    .header-buttons {
        display: flex;
        gap: 10px;
    }

    .btn-create-room,
    .btn-logout {
        padding: 8px;
    }

    .btn-edit,
    .btn-delete {
      width: 100%;
      margin-top: 5px;
    }

    .button-text {
        display: none;
    }

    .icon-mobile {
        display: inline-block !important;
        font-size: 1em;
    }

    .filter-section {
        display: flex;
        flex-direction: column;
      }

      .filter-section label {
        margin-bottom: 5px;
      }

      .filter-section select {
        width: 100%;
      }
    


    .room-list {
        grid-template-columns: 1fr;
    }

    .room-item {
        margin-bottom: 15px;
    }
}

@media screen and (max-width: 1024px) {
    body {
        padding: 0;
        margin: 0;
        min-height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #f8f4e5;
    }

    .container {
        width: 100%;
        min-height: 100vh;
        max-width: none;
        margin: 0;
        padding: 20px;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .header{
        background-color: var(--primary-color);
        color: #fff;
        padding: 20px;
        border-radius: 8px 8px 0 0;
        margin: 0px 0px 20px !important;
    }
}